html{
    background:url("../image/download.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
}
body{
    min-width: 1000px;
    margin:0;
    color:whitesmoke;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.container{
    height:100%;
    display: table;width:80%;margin:0 auto;text-align:center;
}
.vert_mid{
    display:table-cell;
    vertical-align: middle;
    height:100%;
}
a{
    text-decoration:none;
    cursor: pointer;
    color:white;
}
input[type="text"]:focus ,input[type="submit"]{
    outline:none;
}
header{
    height:50px;
    width:100%;
    text-transform: capitalize;
}
header #left{
    float:left;
    font-size:30px;;
}
header #right{
    display:table-cell;
    vertical-align: middle;
    float:right;
    font-size:15px;
}
header a{
    border-radius:10px;
    padding:5px 10px 5px 10px;
}